<div class="body">
  <div class="row" style="justify-content: center">
    <div class="col-md-2">
      <app-dashboard-card icone="face" [nombre]="69" texte="Elèves"></app-dashboard-card>
    </div>
    <div class="col-md-2">
      <app-dashboard-card icone="app_registration" [nombre]="69" texte="Matières"></app-dashboard-card>
    </div>
    <div class="col-md-2">
      <app-dashboard-card icone="book" [nombre]="69" texte="Devoirs"></app-dashboard-card>
    </div>
    <div class="col-md-2">
      <app-dashboard-card icone="bookmark_border" [nombre]="69" texte="Devoirs non rendus"></app-dashboard-card>
    </div>
    <div class="col-md-2">
      <app-dashboard-card icone="bookmark" [nombre]="69" texte="Devoirs rendus"></app-dashboard-card>
    </div>
  </div>
</div>
