<mat-card>
  <div class="round-logo-matiere" *ngIf="this.assignment.matiere">
    <mat-icon>{{this.assignment.matiere.iconeMatiere}}</mat-icon>
  </div>
  <div class="content">
    <div class="logo-content">

    </div>
    <div class="title-content">
      <mat-card-title>{{assignment.nom}}</mat-card-title>
      <mat-card-subtitle>Narindra RANDRIANARISOA</mat-card-subtitle>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip>{{this.assignment.dateDeRendu | date}}</mat-chip>
        <mat-chip color="primary" selected>{{this.assignment.matiere.nomMatiere}}</mat-chip>
        <mat-chip color="danger" *ngIf="assignment.note" color="danger" selected>
          {{this.assignment.note}} / 20
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="toolbox-content">
      <div style="background: orangered">
          <mat-icon>
            {{assignment.rendu ? 'star' : 'star_outline'}}
          </mat-icon>
      </div>
      <div style="background: cornflowerblue">
        <mat-icon>
          info
        </mat-icon>
      </div>
    </div>
  </div>
</mat-card>
