
.liste-item{
  width: 100%;
  cursor: pointer;
  display:flex;
  flex-direction: column;
  padding: 15px;
  transition: .3s;
  &:hover{
    background: deepskyblue;
    color:rgba(211, 211, 211, 0.747) !important;
    font-weight: bold;
  }
}
.ajouterBtn{
  padding: 15px;
}

h1{
  display: block;
  padding: 20px;
  background: dodgerblue;
  color:white;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: 0;
}

.example-viewport {
  height: 800px;
}
