
.liste-item{
  width: 100%;
  cursor: pointer;
  display:flex;
  flex-direction: column;
  padding: 15px;
  transition: .3s;
  &:hover{
    background: deepskyblue;
    color:rgba(211, 211, 211, 0.747) !important;
    font-weight: bold;
  }
}
.ajouterBtn{
  padding: 15px;
}
a{
  text-decoration: none;
}

.example-viewport {
  height: 800px;
  width: 800px;
  border: 1px solid black;
}

mat-card img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 15%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 15%;
}

.image-item{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
