<mat-nav-list>
  <mat-list-item class="item" (click)="delete()">
    <div class="icon-container">
      <mat-icon>
        delete
      </mat-icon>
    </div>
    <p>Supprimer</p>
  </mat-list-item>

  <mat-list-item class="item" (click)="maj()">
    <div class="icon-container">
      <mat-icon>
        update
      </mat-icon>
    </div>
    <p>Mettre à jour</p>
  </mat-list-item>

  <mat-list-item class="item" (click)="fermer()">
    <div class="icon-container">
      <mat-icon>
        close
      </mat-icon>
    </div>
    <p>Annuler</p>
  </mat-list-item>
</mat-nav-list>
