<div class="row">
  <div class="col col-md-6" *ngIf="assignment">
    <h1>Edition de l'assignment {{assignment.nom}} {{assignment.idMatiere}} {{assignment.idEleve}}</h1>
    <form class="form" [formGroup]="formulaire" #assignmentForm>
      <mat-form-field>
        <mat-label>Nom </mat-label>
        <input matInput #nomAssignment
               required
               name="nom"
               formControlName="nom"
               placeholder="Edition du nom"/>
        <mat-error *ngIf="formulaire.controls.nom.errors">Ce champ est obligatoire</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date </mat-label>
        <input matInput #dateAssignement
               name="Date"
               required
               [matDatepicker]="picker"
               placeholder="Edition de la date"
               [ngModelOptions]="{standalone: true}"
               [(ngModel)]="dateDevoir" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Matière</mat-label>
        <mat-select [(ngModel)]="matiereItem" [ngModelOptions]="{standalone: true}" (selectionChange)="onMatiereChange()">
          <mat-option *ngFor="let matiere of matieres" [value]="matiere._id">
            {{matiere.nomMatiere}}
          </mat-option>
        </mat-select>
      </mat-form-field><br/><br/>
      <mat-form-field>
        <mat-label>Elève</mat-label>
        <mat-select [(ngModel)]="eleveItem" [ngModelOptions]="{standalone: true}" (selectionChange)="onEleveChange()">
          <mat-option *ngFor="let eleve of eleves" [value]="eleve._id">
            {{eleve.nom}} {{eleve.prenom}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Note</mat-label>
        <input
          name="note"
          formnovalidate
          [formControl]="formulaire.controls['note']"
          matInput
          placeholder="note"/>
        <mat-error *ngIf="formulaire.controls.note.errors">
          La note doit être entre 0 et 20
        </mat-error>
      </mat-form-field><br/><br/>
      <div style="overflow: auto;">
        <mat-label>Remarque</mat-label>
        <ngx-editor-menu [editor]="remarqueeditor"> </ngx-editor-menu>
          <ngx-editor
            [editor]="remarqueeditor"
            placeholder="Remarque"
            formControlName="remarque"
          ></ngx-editor>
      </div>
      <button mat-stroked-button
              [disabled]="!this.formulaire.valid"
              style="margin-top: 20px;"
              (click)="submit();"
              color="primary">
        Sauver
      </button>
    </form>
  </div>
  <div class="col col-md-6">
    <div class="row-card" *ngIf="currentMatiere" style="background: #F7F7F7;">
      <div style="width: 100%;">
        <app-view-matiere
          [matiere]="currentMatiere"></app-view-matiere>
      </div>
    </div>
    <br/><br/><br/>
    <div *ngIf="currentEleve">
      <app-view-eleve
          [eleve]="currentEleve"></app-view-eleve>
    </div>
  </div>
</div>
